@model Epam.ScrumPocker.Domain.UserStory
@{
    string[] options = new[] { "0", "1/2", "1", "2", "3", "5", "8", "13", "20", "40", "100", "?" };
    ViewBag.Title = "Estimating";
}

<div id="StoryDescription">
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>
</div>

<div text-align="center">
    <font size="36"><b class="userChoise">-</b></font>
</div>

<form method="post" id="UserStoryForm">
    <label for="Model.VoteResult" class="control-label input-group">Выберите оценку</label>
    <div class="btn-group" data-toggle="buttons"> 
        @foreach (var option in options)
        {
            <label class="btn btn-default">
                <input type="radio" class="radio" name="Model.VoteResult" value="@option" required>@option
            </label>
        }
    </div>
    <div class="form-group">
        <input type="submit" class=" btn btn-default btn-large" value="Submit" id="SubmitEstimate" />
    </div>
</form>

<script>
    $(".btn-group .radio").change(function () {
        var value = this.value;
        $(".userChoise").text(value);
    });
</script>

