@model Epam.ScrumPocker.Domain.UserStory
@{
    string[] options = new[] { "0", "1/2", "1", "2", "3", "5", "8", "13", "20", "40", "100", "?" };
}

<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div class="container">
            Story Name: 
            <label>@Model.Name</label>
            <br/>
            Story Description:
            <label> @Model.Description</label>
            <div  text-align ="center">
                <font size="36"><b class="userChoise">-</b></font>
            </div>

            @using (Html.BeginForm())
            {
                <div class="row form-group">
                    <label for="Model.VoteResult" class="control-label input-group">
                        <span class="glyphicon-icon  coffee-cup">
                        </span>
                        Выберите свою оценку
                    </label>
                    <div class="btn-group aligment" data-toggle="buttons">
                        @foreach (var option in options)
                        {
                            <label class="btn btn-default">
                                <input type="radio" class="radio" name="Model.VoteResult"  value="@option" required>@option

                            </label>
                        }
                    </div>
                </div>
                <div class="row form-group">
                    <input type="submit" class=" btn btn-default btn-large" value="Submit" />
                </div>
            }
                </div>
    </body>

<script>
    $(".aligment .radio").change(function () {
        var value = this.value;
        $(".userChoise").text(value);
    } );
</script>
</html>

