<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="profileDb" connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=ASPNETdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <profile defaultProvider = "profileDb">
        <providers>
          <add name="profileDb" connectionStringName ="profileDb" type="System.Web.Profile.SqlProfileProvider"/>
        </providers>
        <properties>
          <add name="counter" type="int"/>
        </properties>
      </profile>
    </system.web>

</configuration>
