<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="databasecon" connectionString="Data Source=|DataDirectory|..\App_Data\WebDB.sdf"
        providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>

</configuration>
